        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            text-align: left;
            padding: 10px;

        }

        th {
            background-color: #f2f2f2;
        }